// 整體布局
body {
  position: relative;
}

.container {
  padding-top: 5vh;
  display: flex;
}

.hero-body p {
  width: 8rem;
  cursor: pointer;
}

// 左側功能區
// .functionZone {
//   width: 40vw;
//   margin-right: 2rem;
// }

// .add-quest {
//   padding: 5px;
//   display: flex;
//   justify-content: space-between;
//   text-align: center;
//   font-size: 1.5rem;
//   margin-bottom: 5px;
// }

// .add-quest span {
//   display: block;
//   font-size: 1rem;
// }

// .add-quest-option:hover {
//   background: rgba(139, 34, 236, 0.72);
//   cursor: pointer;
// }

//

.menu {
  padding: 0.5rem;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 10px 25px 0 rgba(#000, 0.075);
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform-origin: center left;
  transition: width 0.2s ease-in;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    background-color: #eee;
  }

  &:hover,
  &:focus {
    outline: 0;
    width: 130px;
    color: rgb(22, 161, 216);

    &:before,
    .link-title {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.link-icon {
  width: 28px;
  height: 28px;
  display: block;
  flex-shrink: 0;
  left: 18px;
  position: absolute;
}

.link i {
  font-size: 28px;
}

.link-title {
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  transform-origin: center right;
  display: block;
  text-align: center;
  text-indent: 28px;
  font-weight: 800;
  width: 100%;
}



// 大綱
.outline {
  background: rgb(244, 164, 164);
  text-align: center;
}

// 問卷主體
.quest-main {
  padding: 5px;
  background: rgb(63, 207, 113);
  width: 150vw;
  text-align: center;
}

.quest-main h1 {
  font-size: 2rem;
  font-weight: 800;
}

.quest-box {
  padding: 10px;
  border: 1px dashed black;
  margin-bottom: -1px;
}

.quest-box input {
  margin-bottom: 15px;
  width: 50%;
}

.quest-box i,.quest-box span {
  font-size: 1.2rem;
  line-height: 35px;
  margin: 5px;
}

// 發布&儲存
.save-push {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.save-push button {
  margin: 3px;
}
