<body [ngClass]="{dark: !isdarkMode, light: isdarkMode}">
  <section class="section is-large">
    <div class="titleBox">
      <h1 class="title">歡迎來到 SURVEY 後台管理系統！</h1>
      <h2 class="subtitle">
        從這裡開始建立、管理與分析你的問卷。
      </h2>
    </div>
    <div class="content">
      <div class="box">
        <i class='bx bxs-file-plus'></i>
        <p class="title">建立問卷</p>
        <p class="subtitle">設計你的問題</p>
      </div>
      <div class="box">
        <i class='bx bx-paper-plane' ></i>
        <p class="title">發送表單</p>
        <p class="subtitle">分享你的問卷</p>
      </div>
      <div class="box">
        <i class='bx bxs-bar-chart-alt-2' ></i>
        <p class="title">查看回覆</p>
        <p class="subtitle">檢視結果分析</p>
      </div>
    </div>
  </section>


</body>

