
<div class="container">
  <!-- 創建、刪除按鈕 -->
  <div class="create-delete">
   
    <div class="card">
      <span>Edit</span>

        <div class="social-link" (click)="isTrue = !isTrue">
          <i class='bx bx-plus-medical'></i>新增
        </div>

        <div class="social-link">
          <i class='bx bxs-trash-alt' ></i>刪除
        </div>
    </div>


  </div>

  <!-- 表格本體 -->
  <table class="table is-striped is-fullwidth">
    <thead class="table-head">
      <tr>
        <th><input type="checkbox"></th>
        <th>Id</th>
        <th>問卷名稱</th>
        <th>創建時間</th>
        <th>截止日期</th>
        <th>狀態</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>
      @for(data of questionData; track $index) {

        <tr class="table-row">

          <td><input type="checkbox"></td>
          <th>{{data.id}}</th>
          <td>{{data.title}}</td>
          <td>-</td>
          <td>{{data.endTime}}</td>
          <td>-</td>
          <td>-</td>

        </tr>

      }
    </tbody>



  </table>

  <!-- 切換頁面功能 -->
  <!-- <mat-paginator #paginator
               [length]="totalCount"
               [pageIndex]="0"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 15]"
               (page)="pageChange($event)">
  </mat-paginator> -->

  <!-- 彈出創建盒子 -->
  @if(isTrue) {
    <div class="create-box" draggable="true" cdkDrag cdkDragBoundary="body">
      <article class="message is-link">
        <div class="message-header">
          <p>創建新的問卷</p>
          <button class="delete" aria-label="delete" (click)="isTrue = !isTrue"></button>
        </div>
      </article>

      <mat-vertical-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>問卷名稱</ng-template>

            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="請輸入名稱" />
                <span class="icon is-small is-left">
                  <i class='bx bxs-edit' ></i>
                </span>
                <span class="icon is-small is-right">
                  <i class='bx bx-check'></i>
                </span>
              </p>
            </div>

            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>問卷說明</ng-template>

            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <textarea class="textarea" placeholder="請輸入內容"></textarea>
              </p>
            </div>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>




        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>開始日期 - 截止日期</ng-template>

            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input" type="date" placeholder="starttime" />
                <span class="icon is-small is-left">
                  <i class='bx bxs-hourglass-top'></i>
                </span>
                <span class="icon is-small is-right">
                  <i class='bx bx-check'></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input" type="date" placeholder="endtime" />
                <span class="icon is-small is-left">
                  <i class='bx bxs-hourglass-bottom' ></i>
                </span>
                <span class="icon is-small is-right">
                  <i class='bx bx-check'></i>
                </span>
              </p>
            </div>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>完成</ng-template>
          確認後，請往下一步
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button routerLink="/adding">Next</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>

    </div>
  }

</div>

