<!-- 創建、刪除按鈕 -->
<div class="create-delete">

  <div class="card">
    <span>Edit</span>

      <div class="social-link" (click)="isTrue = !isTrue">
        <i class='bx bx-plus-medical'></i>新增
      </div>

      <div class="social-link">
        <i class='bx bxs-trash-alt' ></i>刪除
      </div>
  </div>


</div>

<div class="containerEdit">

  <nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed" nzHideOnSinglePage nzPaginationPosition="top">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        @for (column of listOfColumn; track column) {
          @if (column.title == "狀態") {
            <th [nzSortFn]="column.compare"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn">
            {{ column.title }}
            </th>
          }@else {
            <th [nzSortFn]="column.compare">
              {{ column.title }}
            </th>
          }
        }
      </tr>
    </thead>
    <tbody>
      @for (data of sortTable.data; track data) {
        <tr>
          <td><input type="checkbox"></td>
          <td>{{ data.id }}</td>
          <td>{{ data.title }}</td>
          <td>{{ data.startTime }}</td>
          <td>{{ data.endTime }}</td>
          @switch (data.status) {
            @case ('編輯中') {
              <td>
                <span class="tag is-warning">編輯中</span>
              </td>
            }
            @case ('已結束') {
              <td>
                <span class="tag is-success">收集中</span>
              </td>
            }
            @case ('收集中') {
              <td>
                <span class="tag is-dark">已結束</span>
              </td>
            }
          }
        </tr>
      }
    </tbody>
  </nz-table>



  <!-- 彈出創建盒子 -->
  @if(isTrue) {
    <div class="create-box" draggable="true" cdkDrag cdkDragBoundary="body">
      <article class="message is-link">
        <div class="message-header">
          <p>創建新的問卷</p>
          <button class="delete" aria-label="delete" (click)="isTrue = !isTrue"></button>
        </div>
      </article>

      <mat-stepper orientation="vertical">
        <mat-step>
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>問卷名稱 & 內容</ng-template>

            <div class="field">
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="請輸入名稱" formControlName="title" required>
                <p class="control has-icons-left has-icons-right">
                  <textarea class="textarea" placeholder="請輸入內容" formControlName="content" required ></textarea>
                </p>
                <span class="icon is-small is-left">
                  <i class='bx bxs-edit' ></i>
                </span>
                <span class="icon is-small is-right">
                  <i class='bx bx-check'></i>
                </span>
              </div>
            </div>
            <div>
              <button mat-button matStepperNext (click)="getFormValueFirst()">Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>開始日期 - 結束日期</ng-template>
            <div class="field">
              <nz-range-picker formControlName="date" nzSize='large' style="width: 100%;height: 45px;"></nz-range-picker>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext (click)="getFormValueSecond()">Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>完成</ng-template>
          確認後，請往下一步
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button routerLink="/adding">Next</button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>

  }

</div>

