.hero {
    height: 100%;
    overflow: hidden;
}

i {
    font-size: 24px;
    // color: #757575;
}

.search {
    text-align: center;
}

.title {
    font-size: 500%;
}

p {
    margin: 0px;
}

.card {
    background: rgb(56, 95, 221);
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
}

.card-footer {
    background: rgb(46, 46, 203);
}