<div class="main-container">
    <div class="survey-card-container">
        <div class="survey-card" (mouseenter)="showShadow()" (mouseleave)="closeShadow()">
            <p>#id</p>
            <h1>問卷標題</h1>
            <p>結束時間</p>
        </div>
        <div class="survey-card" (mouseenter)="showShadow()" (mouseleave)="closeShadow()">
            <p>#id</p>
            <h1>問卷標題</h1>
            <p>結束時間</p>
        </div>
        <div class="survey-card" (mouseenter)="showShadow()" (mouseleave)="closeShadow()">
            <p>#id</p>
            <h1>問卷標題</h1>
            <p>結束時間</p>
        </div>
        <div class="survey-card" (mouseenter)="showShadow()" (mouseleave)="closeShadow()">
            <p>#id</p>
            <h1>問卷標題</h1>
            <p>結束時間</p>
        </div>
        <div class="survey-card" (mouseenter)="showShadow()" (mouseleave)="closeShadow()">
            <p>#id</p>
            <h1>問卷標題</h1>
            <p>結束時間</p>
        </div>
    </div>
</div>