<div class="main-container">
    <div class="survey-card-container">
        <div class="survey-card" (mouseenter)="showShadow()" (mouseleave)="closeShadow()">
            <p>#id</p>
            <h1>問卷標題</h1>
            <p>結束時間</p>
        </div>
        <div class="survey-card" (mouseenter)="showShadow()" (mouseleave)="closeShadow()">
            <p>#id</p>
            <h1>問卷標題</h1>
            <p>結束時間</p>
        </div>
        <div class="survey-card" (mouseenter)="showShadow()" (mouseleave)="closeShadow()">
            <p>#id</p>
            <h1>問卷標題</h1>
            <p>結束時間</p>
        </div>
        <div class="survey-card" (mouseenter)="showShadow()" (mouseleave)="closeShadow()">
            <p>#id</p>
            <h1>問卷標題</h1>
            <p>結束時間</p>
        </div>
        <div class="survey-card" (mouseenter)="showShadow()" (mouseleave)="closeShadow()">
            <p>#id</p>
            <h1>問卷標題</h1>
            <p>結束時間</p>
        </div>
    </div>

    <!-- 下列導航碼 -->
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
        <a href="#" class="pagination-previous">
            <i class='bx bxs-chevron-left-circle'></i>
        </a>
        <ul class="pagination-list">
            <li><a href="#" class="pagination-link" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a href="#" class="pagination-link" aria-label="Goto page 45">45</a></li>
            <li>
                <a
                class="pagination-link is-current"
                aria-label="Page 46"
                aria-current="page"
                >46</a
                >
            </li>
            <li><a href="#" class="pagination-link" aria-label="Goto page 47">47</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a href="#" class="pagination-link" aria-label="Goto page 86">86</a></li>
            <a href="#" class="pagination-next">
                <i class='bx bxs-chevron-right-circle'></i>
            </a>
        </ul>
      </nav>

</div>