.light {
  --background-primary: #ccedf1;
  --tableHeader-color: #0cbefa;
  --tableTbody-color: #4577ec;
  --tableOddTbody-color: #15d4ca;
  --textTitle-color: #eee1ff;
  --text-color: rgb(34, 23, 3);
}

.dark {
  --background-primary: #252931;
  --tableHeader-color: #0382ad;
  --tableTbody-color: #30557d;
  --tableOddTbody-color: #2c514d;
  --textTitle-color: rgb(241, 255, 254);
  --text-color: rgb(254, 214, 198);
}

// 整體布局
.containerFeed {
  width: 95%;
  height: auto;
  border-radius: 15px;
  background: var(--background-primary);
  padding: 15px;
  margin-top: 30px;
  margin-left: 30px;
}

.survey-select {
  width: 20%;
  padding-left: 15px;
  background: rgba(109, 218, 255, 0.89);
  line-height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
}

// 表單
.table {
  width: 100%;
  border-radius: 10px;

  thead{
    background: var(--tableHeader-color);
    th {
      color: var(--textTitle-color);
    }
    th:nth-child(1) {
      border-radius: 10px 0px 0px 0px;
    }
    th:nth-child(4) {
      border-radius: 0px 10px 0px 0px;
    }
  }

}

.table-main tbody{
  td,
  th {
    color: var(--text-color)
  }
  tr:nth-child(even) {
    background: var(--tableTbody-color);
  }
  tr:nth-child(odd) {
    background: var(--tableOddTbody-color);
  }

}

// 調整標題頭間距
.table-main thead th:nth-child(1) {
  width: 10%;
}

.table-main thead th:nth-child(2) {
  width: 35%;
}

.table-main thead th:nth-child(3) {
  width: 40%;
}

.table-main thead th:nth-child(4) {
  width: 15%;
}

// 問卷按鈕
.survey-btn {
  width: 5rem;
  border: 3px groove rgb(253, 253, 253);
  border-radius: 15px;
}

.survey-btn:hover {
  background-color: rgb(41, 4, 31);
  color: #eee1ff
}
