
  <div class="containerFeed" [ngClass]="{dark: !isdarkMode, light: isdarkMode}">
    <div class="survey-select">
      <label for="">選擇問卷：</label>
      <div class="select is-success">
        <select>
          <option>Select dropdown</option>
          <option>With options</option>
        </select>
      </div>
    </div>

    <div class="table-main">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>姓名</th>
            <th>填寫日期</th>
            <th>問卷結果</th>
          </tr>
        </thead>
        <tbody>
          @for(data of questionData;track $index) {
            <tr>
              <th>{{data.id}}</th>
              <td>{{data.name}}</td>
              <td>{{data.time}}</td>
              <td>
                <button class="survey-btn">前往</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>


  </div>

