<div class="container">
  <div class="card">
    <div class="card-content">

      <div class="title-box">
        <h1 class="title">Change password</h1>
      </div>

      <div class="password-box">
        <p for="" class="subtitle">Original password: </p>
        <input
          class="input is-normal"
          type="text"
          placeholder="Please enter password"
        />
      </div>

      <div class="password-box">
        <p for="" class="subtitle">New password: </p>
        <input
          class="input is-normal"
          type="text"
          placeholder="Please enter new password"
        />
      </div>

      <div class="password-box">
        <p for="" class="subtitle">Check new password: </p>
        <input
          class="input is-normal"
          type="text"
          placeholder="Please enter new password again"
        />
      </div>

    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        reset
      </p>
      <p class="card-footer-item">
        submit
      </p>
    </footer>
  </div>
</div>
