@switch (state) {
  @case ("cansal") {
    <h2 mat-dialog-title>是否取消</h2>
    <mat-dialog-content>若是取消，回答的資料將可能遺失</mat-dialog-content>
    <mat-dialog-actions>
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button mat-dialog-close routerLink="/questionnaire">確定</button>
    </mat-dialog-actions>
  }
  @default {
    <h2 mat-dialog-title>問卷提交成功</h2>
    <mat-dialog-content>感謝您撥空回答！祝您有美好的一天！</mat-dialog-content>
    <mat-dialog-actions>
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button mat-dialog-close routerLink="/">確認</button>
    </mat-dialog-actions>
  }
}
