<div class="container">
  <div class="info-box">
    <label>問卷名稱：</label>
    <input type="text">
  </div>
  <div class="info-box">
    <label>問卷說明：</label>
    <input type="text">
  </div>
  <div class="info-box">
    <label>開始時間：</label>
    <input type="date">
  </div>
  <div class="info-box">
    <label>結束時間：</label>
    <input type="date">
  </div>


  <div class="edit-box">
    <div>
      <button>-</button>
      <button>+</button>
    </div>
    <table>
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">內容</th>
          <th scope="col">種類</th>
          <th scope="col">編輯</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="btn-box">
    <button class="btn">取消</button>
    <button class="btn">發送</button>
  </div>
</div>
